body {
    font-family: "Rozha One";
    min-height: 100vh;
    margin: 0;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 24px;
}
.mainContainer {
    display: flex;
    justify-content: row;
}
.interactiveArea {
    flex: 4.4;
    margin: 0 auto;
    padding: 3rem;
}
#bgbtn {
    background-color: #AEC0DA;
    width: 439px;
    height: 77px;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    font-family: "Rozha One";
}
#bgbtn:hover {
    background-color: #8AACDC;
}
.displayArea {
    flex: 5.6;
    margin: 0 auto;
    padding: 3rem;
}

.cursor {
    position: fixed;
    width: 30px;
    height: 30px;
  }