body {
    font-family: "Rozha One";
    min-height: 100vh;
    margin: 0;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 24px;
}
.mainContainer {
    display: flex;
    justify-content: row;
}
.interactiveArea {
    flex: 4.4;
    margin: 0 auto;
    padding: 3rem;
}
.displayArea {
    flex: 5.6;
    margin: 0 auto;
    padding: 3rem;
}