@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5D2CC;
    cursor: url('../images/cream_white.svg'), auto;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 113px;
}

h1{
    font-size: 90px;
    font-family: 'Rozha One', serif;
    font-weight: normal;
}

.startButton {
    background-color: #F5F1CC;
    border: 3px solid #D19E61;
    border-radius: 20px;
    padding: 1rem 5rem;
    font-size: 40px;
    font-family: 'Rozha One', serif;
    color: #5F4C08;
}
.startButton a {
    text-decoration: none;
}

.startButton:hover {
    background-color: #D19E61;
    color: #F5F1CC;
}

.startButton:active {
    background-color: #5F4C08;
    color: #F5F1CC;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    z-index: 1000;
  }

  .cake {
    position: relative;
    right: 2.5rem;
    top: 5rem;
  }

  .cream {
    position: absolute;
    right: 5.25rem;
    bottom: 10rem;
  }

  .topping {
    position: absolute;
    right: 11.5rem;
    bottom: 21.5rem;
  }
  