@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 90px;
    font-family: 'Rozha One', serif;
    font-weight: normal;
}

.startButton {
    background-color: #F5F1CC;
    border: 3px solid #D19E61;
    border-radius: 20px;
    padding: 1rem 5rem;
    font-size: 40px;
    font-family: 'Rozha One', serif;

}
.startButton a {
    text-decoration: none;
    color: black;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}